/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background:none;
}
.hero-unit {
	width:600px;
	margin:0px 0px 0px -50px;
}
.hero-unit p, .hero-unit h1 {
	text-align: left;
}
#blog{
    float: left;
    width: 520px;
    padding: 0 10px 10px 10px;
}
.sidebar{
    float: left;
    width: 200px;
    margin: 0 0 0 10px;
    font-size: 14px;
    list-style: none;
}