/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background:none;
}
.hero-unit {
	width:600px;
	margin:0px 0px 0px -50px;
}
.hero-unit p, .hero-unit h1 {
	text-align: left;
}

/* Basic Starter */
 
a:link, a:visited{
    text-decoration: none; 
    color: #000000;
}
 
a:hover{
    color: #5f5f5f;
}
 
h1 {
    font-size: 54px;
}
 
h3 {
    font-size: 24px;
}
 
#wrapper{
    margin: 0 auto;
    width: 750px;
    text-align: left;
    background: #fff;
    padding: 20px;
     
}
 
#header{
    width: 750px;
    height: 100px;
}
 
#blog{
    float: left;
    width: 520px;
    padding: 0 10px 10px 10px;
}
 
.sidebar{
    float: left;
    width: 200px;
    margin: 0 0 0 10px;
    font-size: 14px;
    list-style: none;
}
 
#footer{
    clear: both;
    text-align: center;
    height: 50px;
    background: #ccc;
    padding: 10px;
}













